// Color Variables
$primary-color: #ff4135;
$text-color: #3f434e;
$text-color-light: #898a8f;
$text-color-dark: #222222;
$border-color: #e5e5e5;
$border-color-dark: #4d4f54;
$body-color: #fff;
$gray:#f2f3f5;
$dark: #212329;
$black: #000;
$white: #fff;

// Font Variables
$primary-font: 'futura_icgregular';
$icon-font: 'themify';